.img-left {
  float: left;
  margin-right: 1em;
}

.img-right {
  float: right;
  margin-left: 1em;
}

.codeberg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #2185d0;
    vertical-align: text-top;
}
